@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar {
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #f6969a; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
  background: white; /*스크롤바 뒷 배경 색상*/
}

/* 켈린더 디자인 */
.react-calendar {
  width: 980px !important;
  height: 100% !important;
  background: white;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.825em !important;
  border: none !important;
}

/*켈린더 년월 표시 텍스트*/
.react-calendar__navigation__label__labelText {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: #ff8a8a;
}

/*  켈린더 월 바꿈 화살표 */
.react-calendar__navigation__arrow {
  width: 24px;
  font-size: 32px;
  color: gray;
}

/*켈린더 요일 표시 텍스트*/
.react-calendar__month-view__weekdays__weekday {
  color: #ff8a8a;
}

/*켈린더 요일 표시 텍스트의 아래 점 제거*/
.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 0.7rem;
  text-decoration: none;
}

/*켈린더 주말 날짜 배경색 변경*/

/*켈린더 주말 요일 배경색 변경*/

/*켈린더 날짜 텍스트 색상 변경*/
.react-calendar__month-view__days__day {
  padding: 0 !important;
  height: 120px !important;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 1em !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
}
.react-calendar__tile abbr {
  margin: auto !important;
  position: absolute !important;
  top: 0 !important;
}
/*켈린더 오늘 날짜 배경색 변경*/
.react-calendar__tile--now {
  background-color: transparent !important;
}

.react-calendar__tile--now abbr {
  background-color: #ffc8bd;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
}

.react-calendar__tile--active {
  color: inherit !important;
  background-color: transparent !important;
}

.react-calendar__tile:hover {
  background-color: #ffc8bd !important;
}
.react-calendar__month-view__days__day--weekend:hover {
  background-color: rgba(255, 200, 189, 0.2) !important;
}

@media (max-width: 640px) {
  /* 모바일 전용 스타일 */
  .react-calendar__tile {
    max-width: 100%;
    padding: 5px 3.6667px;
    background: none;
    text-align: center;
    font: inherit;
    font-size: 0.8em !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
  }

  .react-calendar__month-view__days__day {
    padding: 0 !important;
    height: 90px !important;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 0.7rem !important;
    font-weight: 600 !important;
  }
}
